<% layout('layouts/auth')%>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-xl-4 col-xs-3">
            <div class="card shadow my-5 p-5">
                <h1>Register</h1>
                <form action="/register" method="POST" class="needs-validation" novalidate>
                    <div class="mb-3">
                        <label class="form-label" for="username">Username</label>
                        <input class="form-control" type="text" id="username" name="username" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="email">Email</label>
                        <input class="form-control" type="email" id="email" name="email" required>
                    <div class="invalid-feedback">
                        Invalid Email
                    </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="password">Password</label>
                        <input class="form-control" type="password" id="password" name="password" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="confirmPassword">Confirm Password</label>
                        <input class="form-control" type="password" id="confirmPassword" name="confirmPassword"
                            required>
                    </div>
                    <button class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>
