<% layout('layouts/boilerplate') %>

<div class="row">
    <div class="col-6 offset-3">
        <form action="/profile/changePassword?_method=PUT" method="POST" class="needs-validation" novalidate>
            <div class="mb-3">
                <label class="form-label" for="current">Current Password</label>
                <input class="form-control" type="password" id="current" name="current" required>
            </div>
            
            <div class="mb-3">
                <label class="form-label" for="newPassword">New Password</label>
                <input class="form-control" type="password" id="newPassword" name="newPassword" required>
            </div>
            
            <div class="mb-3">
                <label class="form-label" for="confirmPassword">Confirm New Password</label>
                <input class="form-control" type="password" id="confirmPassword" name="confirmPassword" required>
            </div>
            
            <button class="btn btn-primary">Change Password</button>
            
            </form>
                    
    </div>
</div>

