<% layout('layouts/boilerplate') %>

<h3>Username</h3>
<p><%=results[0].username %></p>

<h3>Email</h3>
<p><%=results[0].email %></p>

<h3>Your Role</h3>
<p><%=results[0].role %></p>

<a href="/profile/changePassword">Change Password</a>
